<a href="https://colab.research.google.com/github/Amankumar10/AI_practice_colab/blob/main/Complete_Machine_Learning_Course_in_60_Hours_Part_1_Basics_practice_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [ ]:
!cat /proc/meminfo

MemTotal:       13290480 kB
MemFree:         9797644 kB
MemAvailable:   12401272 kB
Buffers:          331476 kB
Cached:          2459992 kB
SwapCached:            0 kB
Active:           625788 kB
Inactive:        2638852 kB
Active(anon):       1104 kB
Inactive(anon):   473376 kB
Active(file):     624684 kB
Inactive(file):  2165476 kB
Unevictable:           4 kB
Mlocked:               4 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               460 kB
Writeback:             0 kB
AnonPages:        470464 kB
Mapped:           269424 kB
Shmem:              1304 kB
KReclaimable:     108812 kB
Slab:             144180 kB
SReclaimable:     108812 kB
SUnreclaim:        35368 kB
KernelStack:        4192 kB
PageTables:         8552 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6645240 kB
Committed_AS:    1999908 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       10432 kB
VmallocChunk:          0 kB
Percpu:             1080 kB
HardwareCorrupted:     0 kB
AnonHugePages:      4096 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       58168 kB
DirectMap2M:     4132864 kB
DirectMap1G:    11534336 kB

In [ ]:
!pip -v

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./sample_data/finalab.csv')
df

      Dfirst  Cfirst  Csecond  Dsecond  Ranks
0          1       1        1        1      3
1          1       1        1        2      4
2          1       1        1        3      4
3          1       1        1        4      4
4          1       1        1        5      4
...      ...     ...      ...      ...    ...
6556       9       9        9        5      3
6557       9       9        9        6      4
6558       9       9        9        7      4
6559       9       9        9        8      3
6560       9       9        9        9      3

[6561 rows x 5 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
print("fgd"+"dsfds")

fgddsfds

Basic Data types:
1. int
2. float
3.str

```
`# This is formatted as code`
```

In [ ]:
type("dsf")

str

In [ ]:
type(2)

int

Constants & Variable

In [ ]:
hero = 4

In [ ]:
hero

4

In [ ]:
type(hero)

int

In [ ]:
dd = ("dfgf")
dd

'dfgf'

In [ ]:
dsgdf,fd,ff3d = "34",3,34

In [ ]:
ff3d,dsgdf,fd

(34, '34', 3)

In [ ]:
x = d =df = 4

In [ ]:
x,d

(4, 4)

input function

In [ ]:
no1 = int(input("enter the first no:"))
no2 = int(input("enter the secoud no:"))
sum = no1 - no2
sum

enter the first no:3
enter the secoud no:2

1

In [ ]:
#chaning the data type in python:
num =3
# print(float(num))
df=(str(num))
df

'3'

Basic Data Types in Python:

1.Integer

2.Floating Point

3.Complex

4.Boolean

5.String

In [ ]:
# integers
a =3
a

3

In [ ]:
#floating point
a =3.3

In [ ]:
a

3.3

In [ ]:
#complex number
c = 3 + 322j
print(c)
type(c)

(3+322j)

complex

Conversion of one data type to another

In [ ]:
#int to float
x =3
print(x)
type(x)

3

int

In [ ]:
y = str(x)
print(y)
type(y)

3

str

In [ ]:
#Boolean
#1.True
#2.Flase

In [ ]:
a = True
print(a)
type(a)

True

bool

In [ ]:
a = 3 == 3
print(a)

True

In [ ]:
#string
print("dsfs")

dsfs

In [ ]:
# opration of string
mystr = "dfgf"
print(mystr)
type(mystr)

dfgf

str

In [ ]:
print("hello"* 4)

hellohellohellohello

In [ ]:
#slicing
my = "programming"
print(my[1:5])   #values from index 1 to 5-1 will be sliced

rogr

In [ ]:
#step
print(my[0:10:2])

pormi

In [ ]:
#String Concatenation
wo1 = 'm'
wo2 = 'l'
print(wo1+wo2)

ml

Types of objects in Python:
1.Immutable Objects:- object which value can not be changed once it created
2.Mutable Objects :-  object which value can  be changed  once it created.

Immutable Object:

1.int

2.float

3.string

4.bool

5.turple

Mutable Object:

1.List

2.Set

3.Dictionary

List

In [ ]:
#List should be included in the square brackets
my_list = [1,2,2.3]

In [ ]:
print(my_list)
type(my_list)

[1, 2, 2.3]

list

In [ ]:
#list can have multiple data types
my_list = [2,3,1.4,'sf',True]
type(my_list)

list

Lists are Mutable --> Chageable

In [ ]:
#add element to a list
lis = [3,23]
lis.append(True)
lis

[3, 23, True]

In [ ]:
#print element of a list using their index
print(lis[0])

3

In [ ]:
# list allow duplicate values
list_1 =[2,3,3,4,5,6,61]
print(list_1)
print(len(list_1))

[2, 3, 3, 4, 5, 6, 61]
7

In [ ]:
#initating an empty list
list_2 = []
list_2.append(3)
list_2

[3]

In [ ]:
#delete an item in a list
list_3 = [2, 3, 4,True, 5, 6, 61]
print(list_3)

del list_3[3]
print(list_3)

[2, 3, 4, True, 5, 6, 61]
[2, 3, 4, 5, 6, 61]

In [ ]:
#join two lists
lis4 = [3]
lis5 = [6]
lis6 = lis4 + lis5
lis6

[3, 6]

Tuple

In [ ]:
tuple_1 = (3,2,5,5)
print(tuple_1)
type(tuple_1)

(3, 2, 5, 5)

tuple

In [ ]:
#tuple allows multiple data types
tuple_2 = (34,'df','sdfd')
tuple_2

(34, 'df', 'sdfd')

In [ ]:
#converting a list to a tuple
my_list = [2,5,56,2]
my = tuple(my_list)
my

(2, 5, 56, 2)

In [ ]:
print(my[3])

2

Tuples are immutable  --> Unchangeable

In [ ]:
my.append(4)

AttributeError: ignored

In [ ]:
print(len(my))

4

Set

In [ ]:
# set --> Curly brackets
my_set = {1,4,5,6}
print(my_set)
type(my_set)

{1, 4, 5, 6}

set

In [ ]:
print(my_set[0])

TypeError: ignored

In [ ]:
#Convert a list to a set
list_5 = [35,2,5]
x = set(list_5)
print(x)

{2, 35, 5}

In [ ]:
#set does not allow duplicate valuses
set_3 = {3,5,6,2,6}
print(set_3)

{2, 3, 5, 6}

Dictionary

Key-Value Pair

In [ ]:
my_d = {"name":"dfdf","age":5}
my_d
type(my_d)

dict

In [ ]:
print(my_d['name'])

dfdf

In [ ]:
#dictionay does not allow duplicate values
dic_2 ={"name":"dfdf","age":5,"name":"dfddfsdh"}
dic_2

{'name': 'dfddfsdh', 'age': 5}

In [ ]:
dic_2.append("df")

AttributeError: ignored

Operators in Pyhton:

1.Arithmetic Operators

2.Assignment ""

3.Comparison " "

4.Logical  ""

5.Identity " "

6.Membership ""

In [ ]:
#Arthmetic Operators

In [ ]:
#addition
num1=2

num_2 = 2
sdf=num1+num_2
sdf

4

In [ ]:
#exponent
exp = num1**num_2 #
print('exponent= ',exp)

exponent=  4

In [ ]:
#modulus
mod = num1 % num_2
print(mod)

0

2. Assignment Operators

In [ ]:
a = 5
print(a)

5

In [ ]:
a =5
a += 5 #a = a +5
print(a)

10

In [ ]:
b = 5
b -= 4

In [ ]:
print(b)

1

3.Comparison Operators

In [ ]:
a = 10
b = 10

print(a == b)
print(a !=b)
print(a > b)
print(a <= b)

True
False
False
True

4.Logical operators

and

or

not

In [ ]:
a = 10
print(a>6)

True

5.Identity Operator:

is

is not

In [ ]:
x = 5
y = 15
print(x is y)

False

In [ ]:
x = 5
y = 10
print(x is not y)

True

6. Menbership Operator:

in

not in

In [ ]:
a = 5
b = 10
c = [1,4,6,7,8,4]
print(a in c)
print(b in c)

False
False

***If else statement in python..***

In [ ]:
# simple if else statement

In [ ]:
a = 30
b = 90

if(a>b):
    print('a is greater than b')
else:
  print('b is greater than a')

b is greater than a

In [ ]:
a = int(input("enter number"))

enter number5

if elif else statement

In [ ]:
a = 34
b = 4
c = 122

if(b<a>c):
  print("a is gratest")

elif(a<b>c):
  print("b is gratest")
else:
  print("c is gratest")

c is gratest

nested if statement

In [ ]:
a = 34
b = 994
c = 7892

if(a>b):
  if(a>c):
    print("a is greater")
  else:
    print("c is greater")
else:
   if(b>c):
    print("b is greater")
   else:
    print("c is greater")

c is greater

Loops in python

In [ ]:
#for loop
a = 4

for i in range(5):   #0,1,2,3,4
  print(a)

4
4
4
4
4

In [ ]:
a = {48,75,4,7,9}

for i in a:   #0,1,2,3,4
  print(i)

TypeError: ignored

In [ ]:
#while loop

i=0
while i<10:
  print(i)
  i +=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#range in for loop with list
a = [3,6,3,6,8]
for i in range(1,3):
  print(a[i])

6
3

Functions:

Function is a block of code that can be reused in a program

In [ ]:
# Factorial of a Number
# Factorial of a number is the product of all the positive integers less than or equal to the given number

In [ ]:
# Factorial of 5 = 5*4*3*2*1
number = 42
faca =1
if number == 0:
  print("the fac of 0 is 1")
else:
  for i in range(1,number+1):
    faca = faca*i
  print('the fac of ',number,'is',faca)

the fac of  42 is 1405006117752879898543142606244511569936384000000000

In [ ]:
#Factoraial Function
def fac_val(num):
  fac = 1
  if num ==0:
    return fac


  else:
    for i in range(1,num +1):
      fac = fac*i
    return fac

In [ ]:
print(fac_val(3))

6

In [ ]:
print("sddf")

sddf